<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content = "IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mahajani&family=Open+Sans&family=Poppins:wght@200&family=Roboto:wght@300;400&family=Ubuntu&display=swap" rel="stylesheet">
    <link href="css/signup.css" rel="stylesheet">
</head>
<body>
    <div class="headerlogin">
        <h1 class="logologin">SHOPIFI</h1>
    </div>
    <h1 id="error1" class="error1"><%=e_s%></h1>
    <div class="error_div1" id="error_div1">
        <h1 class="error_text1">Invalid data!</h1>
        <button class="error_button1" id="error_button1" onclick="Error_X()">X</button>
    </div>
    <div class="wrapperlogin">
        <div class="containerlogin">
            <div class="textdiv">
            <h2 class="logintext">SHOPIFI CLIENT</h2>
            <h2 class="logintext">SIGNUP PORTAL</h2>
            </div>
            <form action="/signup" method = "post">
                <div class="FirstName">
                    <p class="firstname1">*First name:</p>
                    <input type = "text" id ="firstname" name = "firstname"placeholder = "Enter you first name..." require autocomplete="off" class="input1"></input>
                </div>
                
                <div class="Email">
                    <p class="loginemail">*Email</p>
                    <input type = "text" id ="e-mail" name = "email"placeholder = "Enter your email..." require autocomplete="off" class="input1"></input>
                </div>
                <div class="Password">
                    <p class="loginpassword">*Password</p>
                    <input type = "password" id ="password" name="password" placeholder = "password..."class="input1"></input>
                </div>
                <button type="submit" class="btnsignup">Sign up</button>
            </form>
        </div>
    </div>
    <script>
        const error_signup = document.getElementById("error1").innerHTML
        if(Number(error_signup > 0))
        {  
            document.getElementById("error_div1").style.display = "flex"
        }
        function Error_X(){
            document.getElementById("error_div1").style.display = "none"
        }
    </script>
</body>
</html>